	.media-wrap{
		background-color: #b0e0e6;
		padding: 40px;
	}
	.image{
		width: 80%;
		height: auto;
	}	
	.counter-title{
		display: block;
		font-size:28px;
	}
	.boss{
		height:300px;
		width:300px;
	}
	.student{
		height:150px;
		width: 150px;
	}
	.alert{
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.pageheader{
    padding-top: 75px;
	}
	span[data-typer-targets] {
 	display: inline-block;
 	width: 159px;
 	font-weight: bold;
	}

	ul.navbar-nav{
		font-size: 18px;
		font-weight: bold;
		margin-top:20px;
	}
	span.counter{
		font-size: 36px;
        margin: 15px;
        display: block;
        font-weight: 150;
        text-align: center;
	}
	.carousel{
	 width: 60%;
     margin: auto;
  	}
	.centered {
    text-align: center;
	}
	
	p{
	font-size: 16px;
	line-height: 28px;
    margin-bottom: 25px;
    margin-top: 25px;
	}
	.icon:hover{
			top:-5px;
			position: relative;
		
	}
	.icon{
		width: 10%;
  		height: 10%;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	}
	#greywrap {
    background: #f5f5f5;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
	}

	.row{
		margin-top: 50px;
		margin-left: 30px;
		margin-right: 30px;
	}

