	#headwrap{
		background-image: url("headwrap.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		height: 420px;
		background-position: 50% 70%;  
	}
	#mediawrap{
		background-image: url("blackboard.jpg");
		background-repeat:repeat;
		background-size:cover;
		background-position:bottom;		
		padding: 90px;
		margin: auto;
		width: 100%;
	}
	.media{
		color:white;
	}
	#carouselwrap{
		background-image: url("paint.png");
		background-repeat:repeat;
		background-size:contain; 
	}
	.image{
		width: 80%;
		height: auto;
	}	
	.counter-title{
		color: white;
		display: block;
		font-size:28px;
	}
	.boss{
		height:300px;
		width:300px;
	}
	.student{
		height:150px;
		width: 150px;
	}
	.alert{
		margin-top: 60px;
		margin-bottom: 10px;
	}
	#memberwrap{
    padding-top: 75px;
	padding-bottom: 30px;
	}
	span[data-typer-targets] {
 	display: inline-block;
 	width: 159px;
 	font-weight: bold;
	}
	.head-text{
		top:130px;
		margin: auto;
		text-align: center;
		color: white;
		position: relative;
	}
	ul.navbar-nav{
		font-size: 18px;
		font-weight: bold;
		margin-top:20px;
	}
	span.counter{
		color: white;
		font-size: 36px;
        margin: 15px;
        display: block;
        font-weight: 150;
        text-align: center;
	}
	.carousel{
	 width: 60%;
     margin: auto;
  	}
	.centered {
    text-align: center;
	}
	
	p{
	font-size: 16px;
	line-height: 28px;
    margin-bottom: 25px;
    margin-top: 25px;
	}
	.icon:hover{
			top:-5px;
			position: relative;
		
	}
	.icon{
		width: 10%;
  		height: auto;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	}
	#greywrap {
    background: #f5f5f5;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: 10px;
	}

	.row{
	margin-top: 10px;
	}
	.mainrow{
	margin-top: 82px;
	}
	button.navbar-toggle{
		margin-top: +24px;
	}
	.member{
		padding-top: 20px;
	}
	div.block{
		display: block;
	}
	h2.info,p.info{
	text-align: left;
	}

	@media (max-width: 767px){
		h2.info,p.info{
		text-align: center;
		}
		.icon{
		width:7%;
		height: auto;
		}
		#greywrap{
			padding-bottom: 10px
		}
	}
