<footer class="footerwrap">
				<h4>Created by <a href="https://www.facebook.com/profile.php?id=100005058070616">skywayoo</a> - Copyright 2016</h4>
				<div class="footer-icon" >
						<a href="https://twitter.com/skywayoo?lang=zh-tw">
							<div class="footer-icon-twitter"></div>
						</a>
						<a href="https://www.facebook.com/profile.php?id=100005058070616">
							<div class="footer-icon-facebook"></div>
						</a>
						<a href="https://github.com/skywayoo">
							<div class="footer-icon-git"></div>
						</a>
				</div>
</footer>


